version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: go-postgres-db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - go-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d myapp"]
      interval: 10s
      timeout: 5s
      retries: 5

  pr_service:
      build: .
      container_name: go-app
      ports:
        - "8080:8080"
      environment:
        - DB_PORT=5432
        - DB_USER=postgres
        - DB_PASSWORD=postgres
        - DB_NAME=postgres
        - DB_HOST=db
        - DB_SSLMODE=disable
      depends_on:
        db:
          condition: service_healthy
      networks:
      - go-network

networks:
  go-network:
    driver: bridge

